<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>FCC Chart Stock Market | Jennifer Bland</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/public/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/vendor/font-awesome/css/font-awesome.min.css">
        <link rel='stylesheet' href='/public/stylesheets/style.css' />
    </head>

    <body>
        <div class="container">
            <div class="stockContainer">
                <div class="col-xs-12">
                    <h2 class="text-center title">STOCK CHARTS</h2>
                    <span>ZOOM</span>
                    <button class="btn btn-default stockFilter" id="oneMonth">1M</button>
                    <button class="btn btn-default stockFilter" id="threeMonth">3M</button>
                    <button class="btn btn-default stockFilter" id="sixMonth">6M</button>
                    <button class="btn btn-default stockFilter" id="yearToDate">YTD</button>
                    <button class="btn btn-default stockFilter" id="oneYear">1Y</button>
                    <button class="btn btn-default stockFilter" id="all">ALL</button>

                    <div class="rightStock pull-right">
                        Stock Symbol:
                        <span id="stockName"><%= title %></span>
                    </div>
                </div>

                <div class="stockChart"><%= results %></div>

                <hr>

                <div class="col-md-4 col-md-offset-4 col-xs-12">
                    <div class="stockInputContainer">
                        <label for="stockSymbol" class="control-label">Syncs in realtime across clients</label>
                        <form method="POST" action="/">
                            <div class="input-group">
                                <input type="text" class="form-control" id="stockSymbol" name="stockSymbol" placeholder="Stock code" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Add</button>
                                    </span>
                            </div>

                        </form>
                    </div>
                </div>

            </div><!-- stockContainer -->
        </div><!-- container -->

        <!-- Scripts -->
        <script src="/public/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/public/vendor/d3/d3.js" charset="utf-8"></script>
        <script src="/public/vendor/d3/d3-line-chart.js" charset="utf-8"></script>
        <script src="/public/javascripts/myScripts.js"></script>
    </body>
</html>
